Repository apache/mynewt-nimble, pull requests merged in 2024-09, with the labels that each got.

#1839 nimble/audio/bass: Modify remove source operation
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/XS

#1834 nimble/audio/bass: Add data length check in BASS remote scan
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/XS

#1833 nimble/audio: Modify BASS control point write access.
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/S

#1853 nimble/transport: Fix race in nrf5340 IPC transport
  nimble/transport/nrf5340/src/nrf5340_ble_hci.c
Labels: size/XS

#1783 apps/auracast: Make the code compile on native target
  apps/auracast/src/main.c
  apps/auracast/syscfg.yml
Labels: size/S

#1856 porting/npl/linux: Fix stuck callouts
  porting/npl/linux/src/os_callout.c
Labels: size/XS

#1855 porting/npl/linux: Handle EINTR from sem_timedwait
  porting/npl/linux/src/os_sem.c
Labels: size/XS, size/S

#1851 nimble/host: Add support for ext adv param v2 HCI command
  nimble/host/include/host/ble_gap.h
  nimble/host/src/ble_gap.c
  nimble/host/src/ble_hs_hci_priv.h
  nimble/host/src/ble_hs_startup.c
  nimble/include/nimble/hci_common.h
Labels: host, size/S, size/M

#1859 nimble/host: Fix build for extended scan
  nimble/host/src/ble_gap.c
Labels: host, size/XS

#1854 nimble/drivers: Add driver for SKY66405 FEM
  nimble/drivers/fem/sky66405/include/sky66405/sky66405.h
  nimble/drivers/fem/sky66405/pkg.yml
  nimble/drivers/fem/sky66405/src/sky66405.c
  nimble/drivers/fem/sky66405/syscfg.yml
Labels: size/M

#1862 nimble/ll: Fix non-connectable PDUs handling for initiator
  nimble/controller/src/ble_ll_scan.c
Labels: controller, size/XS

#1863 nimble/host: Fix L2CAP update request event
  nimble/host/src/ble_gap.c
Labels: host, size/XS

#1861 nimble/host/src/ble_gap.c: undefined SET_BIT before defining it.
  nimble/host/src/ble_gap.c
Labels: host, size/XS

#1866 porting/nuttx: Remove not used wqueue.h
  porting/npl/nuttx/src/wqueue.h
Labels: size/XS

#1868 nimble/host: Truncate data in ble_eatt_tx
  nimble/host/src/ble_eatt.c
Labels: host, size/XS

#1871 nimble/audio: Use proper array size in assert within scan delegator.
  nimble/host/audio/src/ble_audio_scan_delegator.c
Labels: host, size/XS

#1872 nimble/mesh: Add check for rx buffer in PB ADV
  nimble/host/mesh/src/pb_adv.c
Labels: host, size/S

#1867 nimble/host: Preempt GAP operations before removing entry from RL
  nimble/host/src/ble_hs_pvcy.c
Labels: host, size/S

#1878 apps/auracast_usb: Fix default value for BIG PHY
  apps/auracast_usb/syscfg.yml
Labels: size/XS

#1874 nimble/host: Validate advertising instance before parsing event
  nimble/host/src/ble_hs_hci_evt.c
Labels: host, size/S

#1875 host: Advertising reports handling fixes
  nimble/host/src/ble_hs_hci_evt.c
Labels: host, size/S

#1877 nimble/ll: Fix RTN handling in HCI BIG Create
  nimble/controller/src/ble_ll_iso_big.c
Labels: controller, size/XS

#1880 docs: Fix the layout in multiple .rst files for the PDF output
  docs/ble_hs/ble_hs_return_codes.rst
  docs/btshell/btshell_GAP.rst
  docs/btshell/btshell_GATT.rst
  docs/btshell/btshell_advdata.rst
  docs/mesh/index.rst
Labels: size/XL
