Repository apache/mynewt-nimble, pull requests merged in 2024-08, with the labels that each got.

#1824 apps/auracast_usb: Fix calculation for octets_per_frame and max_sdu
  apps/auracast_usb/src/main.c
Labels: size/S

#1821 nimble/mesh: Fix syscfg restrictions for BLE_MESH_PROXY_MSG_LEN
  nimble/host/mesh/syscfg.yml
Labels: host, size/XS

#1823 nimble/ll: Use retransmissions for BIG Create
  nimble/controller/src/ble_ll_iso_big.c
Labels: controller, size/XS

#1819 nimble/ll: Fix event drift in event start time calculations
  nimble/controller/src/ble_ll_iso_big.c
Labels: controller, size/S

#1822 nimble/phy: Fix tx-tx transition timing
  nimble/drivers/nrf5x/src/ble_phy.c
Labels: size/S

#1830 nimble/ll: Fix LLID for empty BIS PDUs
  nimble/controller/src/ble_ll_isoal.c
Labels: controller, size/XS

#1835 nimble/host: Fix matching responses to ATT procedures
  nimble/host/src/ble_gattc.c
Labels: bug, host, size/XS

#1829 nimble/ll: Fix BIG anchor offset overflow
  nimble/controller/src/ble_ll_iso_big.c
Labels: controller, size/XS

#1844 nimble/transport: Fix build with RX task
  nimble/transport/nrf5340/src/nrf5340_ble_hci.c
  nimble/transport/nrf5340/syscfg.yml
  nimble/transport/src/rx_task.c
  nimble/transport/syscfg.yml
Labels: size/S

#1838 nimble/phy/cmac: Fix setting TX power level
  nimble/drivers/dialog_cmac/src/ble_phy.c
Labels: size/S

#1832 nimble/audio: Change sizeof to ARRAY_SIZE in BASS
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/XS

#1850 ci: Update author in `Check ports syscfg update` workflow
  .github/workflows/ports_syscfg_check.yml
Labels: size/XS, CI
