Repository apache/mynewt-nimble, pull requests merged in 2024-10, with the labels that each got.

#1876 nimble/ll: Fix periodic advertising event timing
  nimble/controller/include/controller/ble_ll_adv.h
  nimble/controller/src/ble_ll_adv.c
  nimble/controller/src/ble_ll_iso_big.c
Labels: controller, size/M

#1885 nimble/host: Optimize characteristics discovery
  nimble/host/src/ble_gattc.c
Labels: host, size/XS

#1887 nimble/host: Clear ATT queue on conn_free
  nimble/host/src/ble_hs_conn.c
Labels: host, size/XS

#1890 nimble/ll: Null-terminate string in vs_printf HCI event
  nimble/controller/src/ble_ll_hci_ev.c
Labels: controller, size/XS

#1846 Offset field in struct ble_gatt_access_ctxt as an indication of long attribute read
  nimble/host/include/host/ble_gatt.h
  nimble/host/src/ble_gatts.c
Labels: host, size/XS, size/S, size/M

#1893 nimble/ll: Improve extended advertising
  nimble/controller/src/ble_ll_adv.c
  nimble/controller/syscfg.yml
Labels: controller, size/S

#1891 nimble/ll: Fix offset calculation in BIGInfo
  nimble/controller/src/ble_ll_adv.c
  nimble/controller/src/ble_ll_iso_big.c
Labels: controller, size/S

#1892 nimble/ll: Simplify SyncInfo calculation
  nimble/controller/include/controller/ble_ll_conn.h
  nimble/controller/src/ble_ll_adv.c
  nimble/controller/src/ble_ll_conn.c
  nimble/controller/src/ble_ll_sync.c
Labels: controller, size/M

#1843 nimble/audio/bass: Modify add source operation in BASS
  nimble/host/audio/services/bass/include/services/bass/ble_audio_svc_bass.h
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/S

#1836 nimble/audio/bass: BASS modify source update
  nimble/host/audio/services/bass/include/services/bass/ble_audio_svc_bass.h
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/S

#1857 nimble/ll: Add PA ADI support
  nimble/controller/include/controller/ble_ll_sync.h
  nimble/controller/src/ble_ll.c
  nimble/controller/src/ble_ll_adv.c
  nimble/controller/src/ble_ll_conn_hci.c
  nimble/controller/src/ble_ll_ctrl.c
  nimble/controller/src/ble_ll_sync.c
  nimble/controller/syscfg.yml
Labels: controller, size/M

#1873 nimble/audio: Add subgroups information for modify operation
  nimble/host/audio/services/bass/include/services/bass/ble_audio_svc_bass.h
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
  nimble/host/audio/src/ble_audio_scan_delegator.c
Labels: host, size/XS, size/S

#1879 nimble/host: move att_truncate_to_mtu to ble_att_svr_tx_rsp
  nimble/host/src/ble_att_svr.c
  nimble/host/src/ble_eatt.c
Labels: DNM, host, size/S

#1897 nimble/ll: Set handle in cmd_resp before return
  nimble/controller/src/ble_ll_conn_hci.c
Labels: controller, size/XS, size/S

#1869 nimble/host: add eatt opcode check in ble_eatt_l2cap_event_fn
  nimble/host/src/ble_att.c
  nimble/host/src/ble_att_cmd_priv.h
  nimble/host/src/ble_eatt.c
Labels: host, size/S

#1900 ci: Enable newt test on Mac
  .github/workflows/newt_test_all.yml
Labels: size/XS, CI

#1910 Control point buffer fix
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/XS

#1909 Remove unnecessary variable
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/XS

#1908 Fix typos in modify source
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/XS

#1907 Move check_bis_sync function
  nimble/host/audio/services/bass/src/ble_audio_svc_bass.c
Labels: host, size/S

#1904 porting: Sync mbuf with latest core
  porting/nimble/src/os_mbuf.c
Labels: size/S
