Repository apache/mynewt-nimble, pull requests merged in 2025-06, with the labels that each got.

#2049 ci: Add workflows up-to-date check
  check_workflows.yml
Labels: size/S

#2051 ci: Move workflow to correct place
  .github/workflows/check_workflows.yml
Labels: size/XS, CI

#2053 Force style check workflow to use pip-installed clang-format & proper merge-base
  .github/workflows/compliance_check.yml
Labels: size/XS, CI, workflows-update

#2057 nimble/host: Add a missing instance of ble_hs_unblock()
  nimble/host/src/ble_att.c
Labels: host, size/XS

#2054 nimble/host: ble_hs_stop: Handle BLE_HS_EALREADY case
  nimble/host/src/ble_hs_stop.c
Labels: host, size/XS, size/S

#2059 Disable string breaking in clang-format
  .clang-format
Labels: size/XS

#2065 Format file check - disable exit on failure in workflow shell
  .github/workflows/format_file_check.yml
Labels: size/XS, CI, workflows-update

#2062 nimble/ll: Avoid dereferencing an invalid pointer
  nimble/controller/src/ble_ll_conn.c
Labels: controller, size/XS

#2063 Skip style-check workflow if label is present
  .github/workflows/compliance_check.yml
Labels: size/S, CI, workflows-update
