Repository apache/mynewt-nimble, pull requests merged in 2025-07, with the labels that each got.

#2073 nimble/ll: Prevent BIG event preemption by periodic advertising
  nimble/controller/src/ble_ll_sched.c
Labels: controller, size/S

#2066 nimble/transport: Skip H4 event parsing if received event is too big
  nimble/transport/common/hci_h4/src/hci_h4.c
Labels: size/XS

#2076 controller: Add subrating condition in syscfg
  nimble/controller/syscfg.yml
Labels: controller, size/XS

#2079 nimble/btp: Fix address assignment in padv operations
  apps/bttester/src/btp_gap.c
Labels: size/S

#2072 ci: Add information about skipping style check
  .github/workflows/compliance_check.yml
Labels: size/XS, CI, workflows-update

#2071 ci: Add GitHub Action to validate commit message style
  .github/workflows/compliance_check.yml
Labels: size/S, CI, workflows-update

#2078 nimble/ll: Remove unused parameter
  nimble/controller/include/controller/ble_ll_ctrl.h
  nimble/controller/src/ble_ll_conn.c
  nimble/controller/src/ble_ll_conn_hci.c
  nimble/controller/src/ble_ll_ctrl.c
Labels: controller, size/S

#2085 nimble: Add option to select Core 6.1
  nimble/include/nimble/hci_common.h
  nimble/syscfg.yml
Labels: size/XS
