Repository apache/mynewt-nimble, pull requests merged in 2025-08, with the labels that each got.

#2097 ci: Add GCC 14 to build matrix
  .github/workflows/build_cc_target.yml
Labels: size/XS, CI, workflows-update

#2100 nimble/host: Fix typo in ble_l2cap_sig_rx_reject
  nimble/host/src/ble_l2cap_sig.c
Labels: host, size/XS, size/S

#2103 nimble/l2cap: Fix cleaning up pending procedures on disconnect
  nimble/host/src/ble_l2cap_sig.c
Labels: host, size/S

#2064 nimble/host: Add method for retrieving configuration values of CCCD
  nimble/host/include/host/ble_gatt.h
  nimble/host/src/ble_gatts.c
Labels: host, size/S

#2080 nimble/btp: Implement missing BAP layer commands & events
  apps/bttester/src/btp/btp_bap.h
Labels: size/M

#2102 nimble: Use BLE_NPL_TIME_FOREVER for ble_npl_mutex_pend timeout
  nimble/host/src/ble_gap.c
  nimble/host/src/ble_hs.c
  nimble/transport/src/monitor.c
Labels: host, size/S

#2112 nimble/phy/cmac: Remove redundant assert
  nimble/drivers/dialog_cmac/src/ble_phy.c
Labels: size/XS
