Repository apache/mynewt-nimble, pull requests merged in 2025-04, with the labels that each got.

#2023 controller: add missing os/util.h include
  nimble/controller/src/ble_ll_hci_vs.c
Labels: controller, size/XS

#2024 porting: fix missing include for stdio
  porting/npl/freertos/include/nimble/nimble_npl_os_log.h
Labels: size/XS

#2031 nimble/eatt: Minor formatting fixes
  nimble/host/src/ble_eatt.c
Labels: host, size/S
