Repository apache/mynewt-nimble, pull requests merged in 2025-03, with the labels that each got.

#1999 apps: bttester: fix compilation error
  nimble/host/mesh/src/cfg_cli.c
Labels: host, size/XS

#1971 nimble: bttester: add variable to properly initialize characteristics
  apps/bttester/src/btp_gatt.c
Labels: size/XS

#2001 apps/bttester: Remove not used syscfg value
  apps/bttester/syscfg.yml
Labels: size/XS

#2000 nimble/host: Refactor L2CAP signaling PDU parsing
  nimble/host/src/ble_l2cap_sig.c
Labels: host, size/S

#2003 porting: add missing call to ble_ll_init
  porting/nimble/src/nimble_port.c
Labels: size/XS

#1998 apps: bttester: add characteristic to bttester database
  apps/bttester/src/btp_gatt.c
Labels: size/S

#2005 nimble/ll: Fix ISO BIG events scheduling
  nimble/controller/src/ble_ll_iso_big.c
Labels: controller, size/XS

#1938 nimble/ll: Coding Selection support
  nimble/controller/include/controller/ble_ll.h
  nimble/controller/src/ble_ll.c
  nimble/controller/src/ble_ll_scan_aux.c
  nimble/controller/syscfg.yml
Labels: controller, size/S
