Repository apache/mynewt-nimble, pull requests merged in 2025-02, with the labels that each got.

#1968 nimble/transport: Fix ISO HCI length parsing
  nimble/include/nimble/hci_common.h
  nimble/transport/common/hci_h4/src/hci_h4.c
  nimble/transport/nrf5340/src/nrf5340_ble_hci.c
Labels: size/XS

#1967 nimble/ll: Use RPA from global local IRK on active scan for legacy PDU
  nimble/controller/src/ble_ll_scan.c
Labels: controller, size/XS

#1965 ci: Update uncrustify configuration to 0.78
  .github/workflows/compliance_check.yml
  uncrustify.cfg
Labels: size/XL, CI

#1982 nimble/ll: Fix padv interval check for scheduling
  nimble/controller/src/ble_ll_adv.c
Labels: controller, size/XS

#1980 nimble/ll: Make NRPA generation in active scan optional
  nimble/controller/include/controller/ble_ll_scan.h
  nimble/controller/src/ble_ll_scan.c
  nimble/controller/src/ble_ll_scan_aux.c
  nimble/controller/syscfg.yml
Labels: controller, size/M

#1987 nimble/ll: Fix default value for BLE_LL_SCAN_ACTIVE_SCAN_NRPA
  nimble/controller/syscfg.yml
Labels: controller, size/XS

#1986 nimble/ll: Fix sync check in aux
  nimble/controller/src/ble_ll_scan_aux.c
Labels: controller, size/XS

#1975 apps/bttester: Fixes
  apps/bttester/syscfg.yml
Labels: size/XS, size/S

#1992 ci: Fix doxygen checks
  Doxyfile
Labels: size/XS

#1993 ci: Add missing doxygen dependency
  .github/workflows/compliance_check.yml
Labels: size/XS, CI

#1990 nimble/ll: Fix update chanmap in BIGInfo
  nimble/controller/src/ble_ll_iso_big.c
Labels: controller, size/XS

#1994 nimble/host: Fix invalid pullup in L2CAP connection request
  nimble/host/src/ble_l2cap_sig.c
Labels: host, size/XS

#1985 nimble/ll: Fix allocating BIG
  nimble/controller/src/ble_ll_iso_big.c
Labels: controller, size/XS
