Repository apache/mynewt-nimble, pull requests merged in 2025-01, with the labels that each got.

#1952 Fix wrong Host Error Code used in ble_gattc file
  nimble/host/src/ble_gattc.c
Labels: host, size/XS

#1951 debug: Declare as printf-style, remove empty statement
  nimble/host/src/ble_gatts.c
  porting/npl/riot/include/nimble/nimble_npl_os_log.h
Labels: host, size/XS

#1953 Fix a build warning caused by using undeclared min function
  nimble/host/src/ble_l2cap_coc.c
Labels: host, size/XS

#1954 Fix a build warning caused by using undeclared ARRAY_SIZE macro
  nimble/host/store/config/src/ble_store_config.c
Labels: host, size/XS

#1946 nimble/ll: Use RPA from global local IRK on active scan
  nimble/controller/src/ble_ll_scan_aux.c
Labels: controller, size/S

#1934 EATT MTU exchange handling
  nimble/host/src/ble_att.c
  nimble/host/src/ble_att_svr.c
Labels: host, size/XS

#1918 nimble/ll: Add vs hci cmd with additional scan cfg
  nimble/controller/include/controller/ble_ll_scan.h
  nimble/controller/src/ble_ll_hci_vs.c
  nimble/controller/src/ble_ll_scan.c
  nimble/controller/syscfg.yml
  nimble/include/nimble/hci_common.h
Labels: controller, size/S, size/M

#1961 host: sm: secure connection only pairing might fail with no reason
  nimble/host/src/ble_sm.c
Labels: host, size/S
